.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.image-to-show {
    width: 800px;
    height: 500px;
    display: none;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-to-show.active {
    display: block;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.buttons button {
    margin: 20px;
    width: 150px;
    height: 80px;
    font-size: 20px;
}

.button-pause {
    background-color: yellow;
    border: 2px solid coral;
}

.button-pause:hover {
    cursor: pointer;
}

.button-play {
    background-color: yellowgreen;
    border: 2px solid green;
}

.button-play:hover {
    cursor: pointer;
}
