body {
    background-image: url("../img/milan-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
}

section * {
    color: white;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.header {
    padding-top: 50px;
}

.header-logo {
    float: left;
}

.header-logo > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0;
}

.header-logo-img {
    display: inline-block;
}

.header-logo-text {
    display: inline-block;
    padding-left: 15px;
    font-weight: bold;
}

.header-logo-text span {
    display: block;
}

.header-logo-title {
    font-size: 29px;
}

.header-logo-subtitle {
    font-size: 18px;
}

.header-logo:hover .header-logo-img {
    content: url("../img/building-icon-orange.png");
}

.header-logo:hover .header-logo-title {
    color: #f26522;
}

.header-logo:hover .header-logo-subtitle {
    color: #f26522;
}


.header-contacts {
    display: block;
    float: right;
    font-size: 18px;
    padding-top: 10px;
    text-align: right;
}

.tours {
    margin-top: 50px;
}

.tours-item-img {
    width: 307px;
    height: 200px;
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, transparent, white);
    border-image-slice: 1;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.tours-item {
    float: left;
    text-align: center;
    margin-right: 63px;
}

.tours-item-img {
    position: relative;
    overflow:hidden;
}

.tours-item-name {
    text-decoration: none;
}

.tours-item-name p {
    display: inline-block;
    margin-top: 22px;
    margin-bottom: 55px;
    font-size: 18px;
}

.tours-item-price {
    width: 307px;
    height: 63px;
    background-color: #f26522;
    position: relative;
    transition-duration:0.6s;
    bottom: 0;
}

.tours-item-img:hover .tours-item-price{
    bottom: 63px;
}

.tours-item-name p:hover{
    color: #f26522;
}

.tours-item-price-amount{
    font-size: 20px;
    margin-top: 31px;
    position: absolute;
    bottom: 17px;
    left: 21px;
}

.tours-item-price-amount::before {
    content: "€";
}

.tours-item-price-amount::after {
    content: "from";
    font-size: 10px;
    position: absolute;
    top: -12px;
    left: 0;
}

.tours-item-price-details {
    position: absolute;
    bottom: 17px;
    right: 40px;
    font-size: 14px;
}

.tours-item-price-details::after {
    content: ">";
    position: absolute;
    right: -15px;
}

.margin-right-zero{
    margin-right: 0;
}

.footer {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.clearfix {
    clear: both;
}