body{
    background-image: url("../img/journey-bg.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Verdana', sans-serif;
}

section * {
    color: white;
}

/*.container {*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/

.header-container {
    width: 1280px;
    margin: 0 auto;

}

.header {
    padding: 22px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-logo a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-logo a:hover {
    color: #3cb878;
    transition: 0.5s;
}

.header-info {
    position: relative;
    bottom: 22px;
    float: right;
    font-size: 14px;
}

.header-info-icons {
    float: left;
    padding-top: 2px;
}

.header-info-icon {
    display: inline-block;
    width: 28px;
    height: 20px;
    margin-right: 25px;
    background-image: url("../img/css_sprites.png");
}

.calendar {
    background-position: -89px -86px;
}

.forum {
    background-position: -58px -10px;
}

.journey {
    background-position: -10px -86px;
}

.calendar:hover {
    background-position: -50px -86px;
}

.forum:hover {
    background-position: -10px -10px;
}

.journey:hover {
    background-position: -106px -10px;
}

.header-info-welcome {
    float: right;
    padding-left:25px;
    border-left: 2px solid #312f2f;
    padding-top: 5px;
    padding-bottom: 5px;
}

.green-color-link {
    color: #3cb878;
    text-decoration: none;
}

.green-color-link:hover {
    text-decoration: underline;
}

.form-background {
    width: 444px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-top: 56px;*/
    transform: translate(-50%, -50%);
    padding-bottom: 32px;

}

.form-background::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
}

.form-container {
    width: 322px;
    margin: 0 auto;
}

.form-header {
    padding-top: 29px;
    padding-bottom: 15px;
}

.form-header-name {
    color: #505050;
    font-size: 20px;
}

.form-header-link {
    float: right;
    color: #3cb878;
    font-size: 14px;
    padding-top: 6px;
    text-decoration: none;
}

.form-header-link:hover {
    text-decoration: underline;
}

.form-social {
    margin-bottom: 33px;
}

.form-social-facebook {
    position: relative;
    display: inline-block;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    border-radius: 5px;
    text-decoration: none;
}

.form-social-google {
    display: inline-block;
    position: relative;
    float: right;
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    border-radius: 5px;
    text-decoration: none;
}

.form-social-icon{
    display: inline-block;
    position: absolute;
    width: 28px;
    height: 20px;
    background-image: url("../img/css_sprites.png");
}

.fb {
    background-position: -146px -10px;
    top: 13px;
    left: 20px;
}

.google {
    background-position: -10px -50px;
    top: 15px;
    left: 13px;
}

.form-social-text-fb {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid #2b54a5;
}

.form-social-text-google {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 16px;
    padding-left: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 2px solid #c8422d;
}

.form-social-facebook:hover {
    background-color: #264b96;
    transition: 0.5s;
}

.form-social-facebook:hover .form-social-text-fb{
    border-left: 2px solid #224387;
    transition: 0.5s;
}

.form-social-google:hover {
    background-color: #c3412c;
    transition: 0.5s;
}

.form-social-google:hover .form-social-text-google{
    border-left: 2px solid #af3a28;
    transition: 0.5s;
}

.form-separator {
    text-align: center;
    padding-bottom: 18px;

}

.form-separator span{
    position: relative;
    font-size: 14px;
    color: #848484;
}

.form-separator span:before {
    position: absolute;
    top: 9px;
    display: block;
    content: "";
    width: 135px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}

.form-separator span:after {
    position: absolute;
    top: 9px;
    right: -154px;
    display: block;
    content: "";
    width: 135px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}

.text-field {
    height: 46px;
    width: 100%;
    box-sizing: border-box;
    color: #434343;
    font-size: 14px;
    padding-left: 19px;
    border: 1px solid #eaeaea;
    margin-bottom: 9px;
    border-radius: 5px;
}

.text-field:focus {
    position: relative;
    top: -2px;
    transition: 0.5s;
    outline: none;
    box-shadow: 0px 2px 5px 0px rgba(179,179,179,1);
}

.text-field::placeholder {
    color: #cfcfcf;
}

.text-field.last {
    margin-bottom: 22px;
}

.checkbox-text {
    color: #434343;
    font-size: 14px;
    padding-left: 35px;
}

.form-button {
    height: 46px;
    width: 100%;
    font-size: 16px;
    background-color: #3cb878;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}

.form-button:hover {
    background-color: #329a65;
    transition: 0.5s;
    cursor: pointer;
}

.checkbox-container  {
    display: block;
    position: relative;
    cursor: pointer;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: absolute;
    top: -2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkbox-custom:after {
    display: block;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}