html {
    overflow:hidden;
    height:100%;
}

body {
    font-family: "Open Sans", sans-serif;
    perspective: 1px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
}

/* Create Logo */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d2124;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo a{
    text-decoration: none;
}

.header-logo-img {
    padding: 22px;
    background-color: #1a1d20;
}

.header-logo-text {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding-left: 6px;
    color: white;
}

/* Create Navigation bar */

.header-navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-right: 30px;
}

/* Create Search link */

.header-search {
    background-color: #171a1c;
    padding: 27px;
}

/* Create Introduction section */

.intro {
    padding: 127px 0;
    position:relative;
    overflow:hidden;
}

.intro:before {
    content: "";
    z-index:-1;
    transform: translateZ(-1px) scale(3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/city.jpeg"); background-size:cover;
    background-position: 0 80%;
    position:absolute;
    top:-33.33%;
    bottom:0;
    left:0;
    right:0;
    height:150%;
}

.container {
    display: flex;
    width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-title {
    text-transform: uppercase;
    font-size: 27px;
    padding-bottom: 44px;
    color: white;
}

.intro-subscribe-button {
    padding: 21px;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 7px;
    background-color: #89ca62;
    color: white;
}

.intro-articles-button {
    padding: 21px 32px;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 7px;
    background-color: #14b9d5;
    color: white;
}

/* Create Posts section */

.posts {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.container-photos {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.posts-title {
    padding-bottom: 50px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    font-weight: bold;
}

.posts-photos {
    max-height: 1070px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.posts-photo{
    display: inline-block;
    background-color: white;
    margin-bottom: 30px;
}

.posts-photo p {
    font-size: 18px;
    padding: 30px 0;
    font-weight: bold;
    color: #353a3d;
}

.last {
    margin-bottom: 0;
}

.first-order {
    order: 1;
}

.second-order {
    order: 2;
}

.third-order {
    order: 3;
}

.fourth-order {
    order: 4;
}

.fifth-order {
    order: 5
}

.sixth-order {
    order: 6;
}

/* Clients section */

.clients {
    padding: 200px 0;
    position:relative;
    overflow:hidden;
    margin-bottom: 50px;
}

.clients:before {
    content: "";
    z-index:-1;
    transform: translateZ(-1px) scale(3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/hall.jpeg");; background-size:cover;
    background-position: center;
    position:absolute;
    top:-33.33%;
    bottom:0;
    left:0;
    right:0;
    height:150%;
}

.container-clients {
    width: 900px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "item1 item1 item1 item1"
    "item2 item3 item4 item5"

}

.container-clients-title {
    grid-area: item1;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 50px;
    color: white;
}

.container-clients-title::after {
    position: relative;
    top: 50px;
    left: 43%;
    display: block;
    content: "";
    width: 60px;
    border: 3px solid #169cb4;
}

.container-clients-logo-1 {
    grid-area: item2;
}

.container-clients-logo-2 {
    grid-area: item3;
}

.container-clients-logo-3 {
    grid-area: item4;
}

.container-clients-logo-4 {
    grid-area: item5;
}

.padding-top {
    padding-top: 45px;
}

/* Top Rated section */

.top-rated {
    text-align: center;
    margin-bottom: 50px;
}

.top-rated-title {
    padding-bottom: 50px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    font-weight: bold;
}

.top-rated-photos {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.top-rated-photos img {
    width: 100%;
}

/* Hot News section */

.news {
    text-align: center;
}

.news-title {
    padding-bottom: 50px;
    font-size: 27px;
    text-transform: uppercase;
    color: #18b4cf;
    font-weight: bold;
}

.news-items {
    display: grid;
    align-items: start;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "item1 item1 item1 item2"
            "item3 item3 item4 item4"
            "item5 item5 item6 item6"
            "item7 item8 item8 item8"
}

.news-items a {
    text-decoration: none;
}

.news-items h3 {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    padding-right: 25px;
    padding-top: 20px;
}

.news-items p {
    font-size: 14px;
    font-weight: 600;
    color: #353a3d;
    padding: 25px;
    line-height: 1.3;
}

.news-items img {
    width: 100%;
}

/* Hot News Item 1 */
.news-items-item1{
    grid-area: item1;
    position: relative;
    padding-right: 360px;
    background-color: #f9f7f7;
    text-align: right;
    margin-bottom: 40px;
    margin-right: 30px;
}

.news-items-item1-text {
    position: absolute;
    width: 364px;
    top: 30px;
    right: 0;
}

/* Hot News Item 2 */

.news-items-item2 {
    grid-area: item2;
    align-self: start;
    text-align: center;
    background-color: #f9f7f7;
}

.news-items-item2 h3 {
    padding: 11px;
}

/* Hot News Item 3 */

.news-items-item3{
    grid-area: item3;
    text-align: right;
    background-color: #f9f7f7;
    margin-right: 30px;
    margin-bottom: 42px;
}

/* Hot News Item 4 */

.news-items-item4{
    grid-area: item4;
    text-align: right;
    background-color: #f9f7f7;
    margin-left: 30px;
    margin-bottom: 42px;
}

/* Hot News Item 5 */

.news-items-item5{
    grid-area: item5;
    text-align: right;
    background-color: #f9f7f7;
    margin-right: 30px;
}

/* Hot News Item 6 */

.news-items-item6{
    grid-area: item6;
    text-align: right;
    background-color: #f9f7f7;
    margin-left: 30px;
}

/* Hot News Item 7 */

.news-items-item7 {
    grid-area: item7;
    align-self: start;
    text-align: center;
    background-color: #f9f7f7;
}

.news-items-item7 h3 {
    padding: 11px;
}

/* Hot News Item 8 */

.news-items-item8{
    grid-area: item8;
    position: relative;
    padding-right: 360px;
    background-color: #f9f7f7;
    text-align: right;
    margin-left: 30px;
}

.news-items-item8-text {
    position: absolute;
    width: 364px;
    top: 30px;
    right: 0;
}

/* Footer section */

.footer {
    background-color: #1d2124;
}

.footer-container {
    display: grid;
    align-items: center;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr;
}

.footer p {
    justify-self: left;
    font-size: 13px;
    color: white;
}

.footer-img {
    justify-self: end;
}

.footer-img img:nth-child(2){
    position: relative;
    bottom: 8px;
}