html {
    overflow:hidden;
    height:100%;
}

body {
    perspective: 1px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
}

section * {
    font-family: 'Roboto', sans-serif;
    color: #424f57;
}

.header {
    position:relative;
    overflow:hidden;
    text-align: center;
    margin-bottom: 80px;
}

.header:before {
    content: "";
    z-index:-1;
    transform: translateZ(-1px) scale(2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg1.jpg");
    background-size:cover;
    background-position: 60% 80%;
    position:absolute;
    top:-33.33%;
    bottom:0;
    left:0;
    right:0;
    height:150%;
}

.header h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 1.3;
}

.header-bar-wide {
    position: relative;
    top: 50px;
    background-color: white;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header-bar {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-bar-logo {
    font-size: 36px;
    text-decoration: none;
}

.blue-big {
    color: #14afca;
    font-weight: bold;
    text-transform: uppercase;
}

.header-bar-navbar {
    font-size: 15px;
    text-transform: uppercase;
}

.header-bar-navbar a {
    margin-right: 50px;
    text-decoration: none;
}

.header-bar-navbar .last {
    margin-right: 0;
}

.header-bar-navbar a:hover {
    color: #14afca;
}

.header-main {
    position: relative;
    padding: 210px 0 160px;
}

.header-main h1 {
    color: white;
    text-transform: uppercase;
}

.triangle-bottom-right {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 80px solid white;
    border-left: 50vw solid transparent;
}

.triangle-bottom-left {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom: 80px solid white;
    border-right: 50vw solid transparent;
}

.triangle-top-right {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 80px solid white;
    border-right: 50vw solid transparent;
}

.triangle-top-left {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 80px solid white;
    border-left: 50vw solid transparent;
}

.block-what {
    text-align: center;
    margin-bottom: 80px;
}

.big-blue-title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #14afca;
    margin-bottom: 20px;
}

.block-what-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 42px;
    letter-spacing: 2px;
}

.block-what-text {
    font-size: 16px;
    line-height: 1.6;
}

.block-companies {
    position:relative;
    overflow:hidden;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.block-companies:before {
    content: "";
    z-index:-1;
    transform: translateZ(-1px) scale(2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg2.jpg");
    background-size:cover;
    background-position: 0 10%;
    position:absolute;
    top:-33.33%;
    bottom:0;
    left:0;
    right:0;
    height:150%;
}

.block-companies-title {
    padding-top: 130px;
}

.block-companies-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 42px;
    letter-spacing: 2px;
    color: white;
}

.container-companies {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "item1 item2 item3 item4"
            "item5 item6 item7 item8"

}
.container-companies a {
    text-decoration: none;
}

.container-companies-logo-1 {
    grid-area: item1;
}

.container-companies-logo-2 {
    grid-area: item2;
    width: 222px;
    height: 96px;
    background-color: white;
}

.container-companies-logo-2 img:nth-child(1) {
    position: relative;
    top: 15px;
}

.container-companies-logo-2 img:nth-child(2) {
    position: relative;
    top: 5px;
}

.container-companies-logo-3 {
    grid-area: item3;
}

.container-companies-logo-4 {
    grid-area: item4;
    margin-top: 18px;
}

.block-meet-us {
    text-align: center;
    margin-bottom: 100px;
}

.block-meet-us-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 42px;
    letter-spacing: 2px;
}

.block-meet-us-container {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "item1 item2 item3"

}

.block-meet-us-container p {
    font-size: 15px;
    line-height: 1.6;
    padding: 25px 40px 0;
}

.container-testimonials {
    width: 870px;
    margin: 0 auto;
    padding: 200px 0;
}

.block-testimonials {
    position:relative;
    overflow:hidden;
    text-align: center;
    margin-bottom: 80px;
}

.block-testimonials:before {
    content: "";
    z-index:-1;
    transform: translateZ(-1px) scale(2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg3.jpg");
    background-size:cover;
    background-position: 0 -100%;
    position:absolute;
    top:-33.33%;
    bottom:0;
    left:0;
    right:0;
    height:150%;
}

.block-testimonials-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 42px;
    letter-spacing: 2px;
    color: white;
}

.block-testimonials-text-container {
    position: relative;
}

.block-testimonials-text {
    position: relative;
    font-size: 16px;
    line-height: 1.6;
    font-style: italic;
    color: white;
}

.block-testimonials span {
    position: absolute;
    font-size: 18px;
    color: white;
    font-style: italic;
    bottom: -32px;
    right: 130px;
}

.block-why-container {
    width: 760px;
    margin: 0 auto;
}

.block-why {
    text-align: center;
    margin-bottom: 100px;
}

.block-why-subtitle {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 42px;
    letter-spacing: 2px;
}

.block-why-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    padding-bottom: 110px;
}

.block-why-copyrights {
    font-size: 14px;
}

.block-why-copyrights span{
    font-weight: bold;
}