section {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 61px 0 45px;
}

.header-logo {
    font-size: 80px;
}

.header-logo a {
    text-decoration: none;
    color: #4bcaff;
}

span {
    color: black;
}

.navbar-top {
    margin-bottom: 51px;
}

.navbar-top-menu {
    text-align: center;
    padding: 26px 0 21px 0;
    background-color: #35444f;
}

.navbar-top-menu-link {
    text-decoration: none;
    font-size: 24px;
    padding: 24px 42px 19px;
    color: white;
}

.navbar-top-menu-link:hover {
    background-color: #222f3a;
}

.navbar-vertical-menu {
    display: inline-block;
    border: 1px solid #495863;
    width: 350px;
    vertical-align: top;
}

.navbar-vertical-menu-link {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
}

.navbar-vertical-menu-link:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
}

.navbar-vertical-menu a {
    text-decoration: none;
    color: #485863;
    font-size: 29px;
}

.navbar-vertical-menu a:hover {
    color: black;
}

.image-text-container {
    display: inline-block;
    width: 885px;
    margin-left: 38px;
}

.image-container {
    display: inline-block;
    border: 1px solid #495863;
    width: 885px;
    height: 529px;
}

.image-container img {
    display: block;
    margin: auto;
    padding: 74px 0;
}

.image-transform:hover{
    transition: all 1s ease-out;
    transform: scale(1.2);
}

.text-container {
    display: block;
    width: 100%;
}

.text-container p {
    font-size: 18px;
}

.paragraph-first {
    padding: 50px 40px 30px;
}

.paragraph-second {
    padding: 0 40px;
    margin-bottom: 50px;
}

.navbar-bottom {
    padding: 22px 0;
    background-color: #b4b7ba;
    margin-bottom: 30px;
}

.navbar-bottom-menu{
    display: inline-block;
    margin-left: 44px;
}

.navbar-bottom-menu-link {
    color: #0c1927;
    font-size: 28px;
    margin: 0 10px;
    text-decoration: none;
}

.navbar-bottom-menu-link:hover {
    text-decoration: underline;
    color: #3181a6;
}

.navbar-bottom-menu-copyright {
    display: inline-block;
    font-size: 24px;
    margin-left: 110px;
}