section * {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../img/sectionsBackground/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-top {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header-top-container-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*HEXAGON CSS*/

.hexagon {
    position: relative;
    width: 58px;
    height: 33.49px;
    background-color: #18cfab;
    margin: 16.74px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 16.74px solid #18cfab;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid #18cfab;
}

.hexagon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.logo-text {
    font-size: 30px;
    color: white;
    margin-left: 8px;
}

.green {
    color: #18cfab;
    font-weight: bold;
}

/*NAVBAR*/

.header-top-container-navbar {
    display: flex;
    align-items: center;
}

.header-top-container-navbar nav {
    position: relative;
}

.header-top-container-navbar a {
    text-decoration: none;
    color: #d4d4d4;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 20px;
    padding-bottom: 52px;
}

.header-top-container-navbar img {
    width: 22px;
}

.navbar-link:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.header-top-container-navbar .last{
    margin-right: 0;
    padding-bottom: 0;
    height: 22px;
}

.last:hover {
    content: url("../img/search-icon-green.png");
    width: 22px;
}

/*Header Main Text*/

.header-main {
    text-align: center;
}

.header-main-title {
    padding-top: 360px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.header-main-title span {
    color: #18cfab;
}

.header-main-subtitle {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.header-main-text {
    font-size: 30px;
    color: #d4d4d4;
    margin-top: 15px;
}

.header-main-buttons {
    margin-top: 140px;
    padding-bottom: 240px;
}

.header-main-button {
    display: inline-block;
    padding: 26px 0;
    width: 166px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #18cfab;
    margin: 0 12px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 -4px 0 white;
}

.header-main-button.second {
    background-color: #00cbf6;
}

/*BENEFITS*/

.benefits {
    display: flex;
}

.benefits-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 370px;
    width: 100%;
}

.benefits-item:nth-child(2n+1) {
    background-color: #1c2a33;
    box-shadow: 0 -7px 0 #18cfab;
    color: #18cfab;
}

.benefits-item:nth-child(2n) {
    background-color: #18cfab;
    box-shadow: 0 -7px 0 white;
    color: white;
}

.benefits-item {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.benefits-item p {
    margin-top: 48px;
}


/*SERVICES*/
.services {
    text-align: center;
}

.section-title {
    position: relative;
    color: #4e4e4e;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 110px;
}

.section-title::before {
    position: absolute;
    bottom: -35px;
    left: 47%;
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #18cfab;

}

.section-title::after {
    position: absolute;
    bottom: -39px;
    left: 48%;
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #18cfab;
}

.services-tabs {
    display: flex;
}

.services-tabs-item:first-child {
    border-left: 1px solid #ebebeb;
}

.services-tabs-item {
    padding: 32px 0;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: #7a7a7a;
    font-size: 17px;
    cursor: pointer;
    background-color: #f8fcfe;
}

.services-tabs-item.active {
    position: relative;
    background-color: #18cfab;
    color: white;
    border: 1px solid #18cfab;
}

.services-tabs-item.active:before {
    position: absolute;
    bottom: -11px;
    left: 46%;
    content: "";
    width: 20px;
    height: 20px;
    background-color: #18cfab;
    transform: rotate(45deg);
}


.services-content {
    margin-top: 25px;
    height: 140px;
}

.services-content-item {
    display: none;
}

.services-content-item-text {
    text-align: justify;
    margin-left: 20px;
    color: #7a7a7a;
    line-height: 1.6;
}

.services-content-item.active {
    display: flex;
}


/*BUY Section*/

.buy {
    padding: 128px 0;
    margin-top: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 0 35%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/sectionsBackground/section-2.jpg");
}

.buy-title {
    font-size: 40px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: bold;
}

.buy-subtitle {
    margin-top: 35px;
    font-size: 16px;
    color: white;
}

.buy-button {
    display: inline-block;
    padding: 26px 0;
    width: 166px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #18cfab;
    margin-top: 75px;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 0 -4px 0 white;
}

/*Our Amazing Work section*/

.amazing-work {
    margin: 0 auto;
    text-align: center;
    background-color: #f8fcfe;
    padding-bottom: 100px;
}

.amazing-work-types {
    display: flex;
    justify-content: center;
}

.amazing-work-types-item:first-child {
    border-left: 1px solid #ebebeb;
}

.amazing-work-types-item {
    padding: 20px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    color: #7a7a7a;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}

.amazing-work-types-item.active-work {
    color: #18cfab;
    box-shadow: 0 -2px 0 #18cfab;
}

.amazing-work-photos {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.amazing-work-photo {
    position: relative;
}

.amazing-work-photo img {
    display: block;
}

.amazing-work-photo.not-active {
    display: none;
}

.amazing-work-photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f8fcfe;
    border-top: 3px solid #18cfab;
}

.circles {
    margin-top: 45px;
}

.circle-first {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #18cfab;
    margin-right: 3px;
    border: 1px solid #18cfab;
}

.circle-first img {
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-first:hover {
    background-color: white;
    border: 1px solid #18cfab;
    cursor: pointer;
}

.circle-first:hover img{
    content: url("../img/chain.png");
}

.circle-second img {
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-second:hover{
    background-color: white;
    border: 1px solid #18cfab;
    cursor: pointer;
}

.circle-second:hover img{
    content: url("../img/search-icon-green.png");
}

.circle-second {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #18cfab;
    margin-left: 3px;
    border: 1px solid #18cfab;
}

.amazing-work-photo-hover-title {
    margin: 34px 0 13px 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}

.amazing-work-photo-hover-subtitle {
    font-size: 12px;
    color: #7a7a7a;
}

.amazing-work-upload-pictures{
    position: relative;
    display: inline-block;
    padding: 25px 21px 25px 54px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #18cfab;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 71px 0 0;
    cursor: pointer;
    font-weight: bold;
}

.amazing-work-upload-pictures::before {
    position: absolute;
    top: 17px;
    left: 22px;
    content: "+";
    font-size: 25px;
    font-weight: bold;
    color: white;
}

/*BREAKING NEWS Section*/

.news {
    text-align: center;
    padding-bottom: 85px;
}

.news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-items a {
    text-decoration: none;
}

.news-item {
    margin-bottom: 45px;
}

.news-item-picture {
    position: relative;
}


.news-item-picture img {
    display: block;
}

.news-item-text {
    width: 261px;
    height: 72px;
    background-color: #f8fcfe;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.news-item-picture-date {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 68px;
    background-color: #203e38;
}

.news-item-picture-date span {
    display: block;
    color: white;
    font-size: 17px;
    margin-top: 15px;
}

.news-item-picture-date span:nth-child(2) {
    margin-top: 8px;
}

.news-item-text {
    position: relative;
}

.news-item-text-title {
    position: absolute;
    top: 14px;
    left: 13px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.news-item-text-role {
    position: absolute;
    bottom: 12px;
    left: 17px;
    font-size: 14px;
    color: #717171;
}

.news-item-text-role::after {
    position: absolute;
    bottom: -2px;
    right: -15px;
    content: "";
    height: 15px;
    width: 1px;
    background-color: #717171;
}

.news-item-text-comment {
    position: absolute;
    bottom: 12px;
    right: 87px;
    font-size: 14px;
    color: #717171;
}

.news-item:hover .news-item-picture-date {
    background-color: #18cfab;
}

.news-item:hover .news-item-text-title {
    color: #18cfab;
}

/*FEEDBACKS*/

.feedbacks {
    position: relative;
    text-align: center;
    padding-bottom: 100px;
    background-position: 0 87%;
    background-image: url("../img/feedbacks/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1.0);
}

.feedbacks-title {
    position: relative;
    font-size: 36px;
    padding-top: 80px;
    margin-bottom: 110px;
    color: white;
}

.feedbacks-title::before {
    position: absolute;
    bottom: -35px;
    left: 47%;
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #18cfab;

}

.feedbacks-title::after {
    position: absolute;
    bottom: -39px;
    left: 48%;
    display: block;
    content: "";
    width: 60px;
    border-bottom: 1px solid #18cfab;
}

.container-third {
    display: flex;
    justify-content: center;
}

.feedback-item-text {
    position: relative;
    font-weight: lighter;
    padding-top: 60px;
    color: white;
}

.feedback-item-text::before {
    content: url("../img/quotes.png");
    position: absolute;
    top: 6px;
    left: 48%;
}

.feedbacks-item span {
    display: block;
}

.feedback-item-name {
    padding-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18cfab;
}

.feedback-item-role {
    padding-top: 10px;
    font-size: 14px;
    font-weight: lighter;
    color: white;
}

.feedback-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #18cfab;
    width: 142px;
    height: 142px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}


.feedback-img.image1 {
    background-image: url("../img/feedbacks/ann.png");
}

.feedback-img.image2 {
    background-image: url("../img/feedbacks/pedro.png");
}

.feedback-img.image3 {
    background-image: url("../img/feedbacks/ali.png");
}

.feedback-img.image4 {
    background-image: url("../img/feedbacks/yana.png");
}

.feedback-circle {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 100px;
    background-color: rgba(25, 207, 170, 0.2);
    margin-top: 35px;
    margin-bottom: 50px;
}

/*SLICK*/

.slick-dots {
    position: relative;
    top: 0;
    left: 15px;
}

.slick-dots li{
    margin-right: 76px;

}

.slick-dots li button {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: rgba(25, 207, 170, 0.2);


}

.slick-dots li button::before {
    content: "";
    width: 60px;
    height: 60px;
    opacity: 1;
    border-radius: 50%;
    top: 34px;
    left: 34px;
    transform: translate(-50%, -50%);
}

.slick-dots li:nth-child(1) button::before{
    background-image: url("../img/feedbacks/ann.png");
}

.slick-dots li:nth-child(2) button::before{
    background-image: url("../img/feedbacks/pedro.png");
}

.slick-dots li:nth-child(3) button::before{
    background-image: url("../img/feedbacks/aliSmall.png");
    background-position: -8px 0;
}

.slick-dots li:nth-child(4) button::before{
    background-image: url("../img/feedbacks/yana.png");
}

.slick-dots li.slick-active {
    bottom: 10px;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    border: 1px solid #18cfab;
}

.slick-slide {
    outline: none
}

.arrow {
    position: absolute;
    width: 31px;
    height: 31px;
    border: 1px solid white;
}

.arrow.left {
    z-index: 2000;
    bottom: -15px;
    left: 329px;
}

.arrow.right {
    z-index: 2000;
    bottom: -15px;
    right: 323px;
    transform: rotate(-180deg);
}

.arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    cursor: pointer;
}

.arrow::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.arrow.left::before {
    transform: translate(-50%, -50%) rotate(45deg);
}


/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 108px;
    background-color: #22353f;
}

.footer p {
    color: #aeaeae;
    font-size: 14px;
}

.footer span {
    color: #18cfab;
}

hr {
    bottom: 8px;
    position: relative;
    color: #e1e1e1;
    background-color: #e1e1e1;
}


/*GALLERY*/


.gallery {
    padding-bottom: 70px;
}

.container-title {
    text-align: center;
}

.gallery-masonry-item {
    position: relative;
}

.gallery-masonry-item,
.sizer10 {
    width: 10%;
    margin-bottom: 10px;
}

.sizer16 {
    width: 16%;
}

.sizer33 {
    width: 32%;
}

.gallery-masonry-item img {
    width: 100%;
    display: block;
}

.button-masonry-container {
    text-align: center;
}

.masonry-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.masonry-hover-button1 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #14b9d5;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
}

.masonry-hover-button2 {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #14b9d5;
    cursor: pointer;
    margin: 5px;
    border-radius: 3px;
}

.masonry-hover img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}