section * {
    font-family: sans-serif;
}

.price-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 10px;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-block-label {
    color: white;
    font-size: 25px;
}

.price-block-field {
    font-size: 20px;
    height: 46px;
    color: #434343;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-left: 20px;
    padding-left: 10px;
}

.price-block-field:focus {
    outline: none;
}

.price-block-validator {
    position: absolute;
    top: 25px;
    left: 183px;
}

.price-block-validator-text {
    padding: 5px 40px 5px 5px;
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    color: #434343;
}

.price-block-validator-close {
    position: absolute;
    top: -2px;
    right: 6px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #434343;
}

.price-block-validator-close:hover {
    cursor: pointer;
}

.price-block-validator-close:before, .price-block-validator-close:after {
    position: absolute;
    top: 2px;
    left: 9px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #434343;
}
.price-block-validator-close:before {
    transform: rotate(45deg);
}
.price-block-validator-close:after {
    transform: rotate(-45deg);
}

.green-border {
    border: 1px solid green;
}

.red-border {
    border: 1px solid red;
}

.incorrect-data {
    position: absolute;
    bottom: 45px;
    left: 183px;
    color: white;
    font-size: 20px;
}