table {
    border-collapse: collapse;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 22px solid #3a4965;
}

td {
    vertical-align: middle;
}

tbody td {
    height: 69px;
    font-size: 16px;
    color: #484848;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

tfoot td {
    height: 110px;
}

.pricing-package-name {
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #fafafa;
}

.price td {
    height: 86px;
}

.resources {
    width: 310px;
}

.pricing-package {
    width: 277px;
}

.pricing-package-name-first {
    background-color: #89c331;
    box-shadow: none;
}

.pricing-package-name-middle {
    font-size: 30px;
    background-color: #f04a56;
}

.pricing-package-name-last {
    background-color: #20807c;
}

.pricing-package-name-general {
    color: #484848;
}

.pricing-package-name-general span {
    display: block;
}

.pricing-package-name-general span:nth-child(1) {
    font-size: 18px;
}

.pricing-package-name-general span:nth-child(2) {
    font-size: 30px;
}

.price {
    font-size: 60px;
    color: #484848;
    font-weight: bold;
    background-color: #fafafa;
}

.price span {
    position: relative;
}

.price .degree:after {
    position: absolute;
    content: ".99";
    font-size: 24px;
    top: 10px;
    right: -35px;
}

.price .small {
    font-size: 18px;
    font-weight: normal;
    padding-left: 5px;
}

.shadow-right {
    box-shadow: inset 5px 0 5px -5px gray;
}

.shadow-left {
    box-shadow: inset -5px 0 5px -5px gray;
}

tbody tr td:first-child {
    box-shadow: inset -5px 0 5px -5px gray;
}

tr td:nth-child(3), tr td:nth-child(4) {
    box-shadow: inset 5px 0 5px -5px gray;
}

i {
    font-size: 24px;
    padding-right: 7px;
    color: #848484;
}

tbody td span:nth-child(1n+2) {
    position: relative;
    top: -3px;
}

tfoot a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    font-weight: bold;
}

.button-contact {
    padding: 19px 45px 10px;
    background-color: #484848;
    box-shadow: 0 9px 0 #404040;
}

.button-package-first {
    padding: 19px 58px 10px;
    background-color: #89c331;
    box-shadow: 0 9px 0 #79b027;
}

.button-package-middle {
    padding: 19px 58px 10px;
    background-color: #f04a56;
    box-shadow: 0 9px 0 #df3a46;
}

.button-package-last {
    padding: 19px 58px 10px;
    background-color: #20807c;
    box-shadow: 0 9px 0 #16736f;
}

.button-contact:hover {
    background-color: #404040;
    transition: 0.5s;
}

.button-package-first:hover {
    background-color: #79b027;
    transition: 0.5s;

}

.button-package-middle:hover {
    background-color: #df3a46;
    transition: 0.5s;
}

.button-package-last:hover {
    background-color: #16736f;
    transition: 0.5s;
}

tfoot tr {
    background-color: #fafafa;
}

.contacts {
    background-color: #dddddd;
}