body {
    width: 100%;
    height: 100%;
    background: black;
}

.container {
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: #111110;
    color: #face2f;
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;

    height: 800px;
    color: #face2f;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 200px;
    text-align: justify;
}

.star-wars-text {
    position: relative;
    animation: move-text 30s cubic-bezier(0, 0.02, 0.52, 0.04) infinite;
}

.star-wars-title {
    font-size: 90%;
    text-align: center;
}

.star-wars-title h1 {
    margin: 0 0 100px;
    font-size: 120%;
    text-transform: uppercase;
}

audio {
    display: none;
}

@keyframes move-text {
    0% {
        bottom: -650px;
        transform: rotateX(25deg)  translateZ(0);
    }
    100% {
        bottom: 6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}