.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-top: 48px;
  background-color: #acd8ad;
  @media (min-width: 640px) {
    height: 97px;
  }
  @media (min-width: 980px) {
    justify-content: space-between;
  }

  &__text {
    text-align: center;
    @media (min-width: 980px) {
      margin-right: 30px;
    }
    @media (min-width: 1200px) {
      margin-right: 37px;
    }
    & p {
      color: white;
      margin: 5px 0;
      font-size: 12px;
      @media (min-width: 640px) {
        font-size: 18px;
        margin: 7px 0;
      }
      @media (min-width: 980px) {
        display: inline-block;
      }
    }
  }

  &__logo {
    display: none;

    @media (min-width: 980px) {
      display: block;
      margin-left: 30px;
    }
    @media (min-width: 1200px) {
      margin-left: 37px;
    }
  }
}