html, body {
  max-width: 100%;
  overflow-x: hidden;
}

section * {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.header {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 37px;
  background-color: #373c3f;
  @media (min-width: 640px) {
      height: 74px;
  }
  @media (min-width: 980px) {
    height: 97px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    padding-left: 19px;
    letter-spacing: 0.7px;
    @media (min-width: 640px) {
      font-size: 24px;
      padding-left: 38px;
    }
    @media (min-width: 980px) {
      display: none;
    }
  }

  &__burger-btn {
    width: 41px;
    height: 37px;
    background-color: #202529;
    @media (min-width: 640px) {
      width: 82px;
      height: 74px;
    }
    @media (min-width: 980px) {
      display: none;
    }
  }

  &-navbar {
    font-family: 'Montserrat', sans-serif;
    display: none;
    @media (min-width: 980px) {
      display: block;
      margin-left: 30px;
    }
    @media (min-width: 1200px) {
      display: block;
      margin-left: 37px;
    }

    &__item {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      margin-right: 32px;
    }
  }

  &__logo {
    display: none;
    @media (min-width: 980px) {
      display: block;
      margin-right: 30px;
    }
    @media (min-width: 1200px) {
      display: block;
      margin-right: 37px;
    }
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 14px;
  left: 13px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  @media (min-width: 640px) {
    top: 27px;
    left: 27px;
  }

  & #menu {
    position: absolute;
    width: 161px;
    top: 23px;
    right: 13px;
    @media (min-width: 640px) {
      top: 47px;
    }

    background: #fafafa;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    @media (min-width: 640px) {
      width: 214px;
    }

    & a {
      text-decoration: none;
      transition: color 0.3s ease;

      & li {
        color: #727375;
        font-size: 12px;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #f3f3f3;
        @media (min-width: 640px) {
          font-size: 14px;
          padding: 15px 0 15px 15px;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  & input {
    display: block;
    position: absolute;
    top: -4px;
    left: -3px;
    width: 16px;
    height: 13px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    @media (min-width: 640px) {
      width: 29px;
      height: 21px;
    }


    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(3px, 0px);
      background: white;
      @media (min-width: 640px) {
        transform: rotate(45deg) translate(4px, -2px);
      }


      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 3px);
        @media (min-width: 640px) {
          transform: rotate(-45deg) translate(3px, 5px);
        }
      }
    }

    &:checked ~ #menu {
      transform: none;
    }
  }

  & span {
    display: block;
    width: 15px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
    @media (min-width: 640px) {
      width: 28px;
      height: 3px;
      margin-bottom: 5px;
    }

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}