.main {
  position: relative;

  & img {
    width: 100%;
  }

  &-text {
    position: absolute;
    top: 10%;
    left: 6%;

    &__title span {
      display: block;
      font-size: 16px;
      color: white;
      margin-bottom: 7px;
      font-weight: bold;
      @media (min-width: 640px) {
        font-size: 36px;
        margin-bottom: 10px;
      }
      @media (min-width: 980px) {
        font-size: 54px;
        margin-bottom: 12px;
      }
      @media (min-width: 1200px) {
        font-size: 62px;
        margin-bottom: 15px;
      }
    }

    &__site {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      color: #a6d6e0;
      @media (min-width: 640px) {
        font-size: 24px;
        margin-top: 15px;
      }
      @media (min-width: 980px) {
        font-size: 34px;
        margin-top: 32px;
      }
      @media (min-width: 1200px) {
        font-size: 38px;
        margin-top: 34px;
      }
    }
  }
}