$menuColor: #727375;

.container-menu {
  width: 286px;
  margin: 0 auto;
  @media (min-width: 640px) {
    width: 586px;
  }
  @media (min-width: 980px) {
    width: 459px;
  }
  @media (min-width: 1200px) {
    width: 568px;
  }
}

.position {
  position: relative;
  top: 10px;
}

.menu {
  margin-top: 20px;
  @media (min-width: 640px) {
    margin-top: 45px;
  }
  @media (min-width: 980px) {
    margin-top: 50px;
  }
  @media (min-width: 1200px) {
  }

  &-title {
    display: flex;
    justify-content: center;
    @media (min-width: 980px) {
      justify-content: space-between;
      align-items: center;
    }
    @media (min-width: 1200px) {

    }


    &__text {
      @media (min-width: 980px) {
        margin-left: 20px;
      }
      & h2 {
        font-size: 20px;
        color: #3f4043;
        text-transform: uppercase;
        @media (min-width: 640px) {
          font-size: 30px;
        }
        @media (min-width: 980px) {
          font-size: 35px;
        }
        @media (min-width: 1200px) {
          font-size: 40px;
        }
      }

      & p {
        font-size: 10px;
        color: #cbccce;
        margin-top: 3px;
        margin-left: 2px;
        @media (min-width: 640px) {
          font-size: 15px;
        }
        @media (min-width: 980px) {
          font-size: 20px;
        }
        @media (min-width: 1200px) {
          font-size: 25px;
        }
      }
    }

    &__logo {
      display: none;
      @media (min-width: 980px) {
        display: block;
        margin-right: 20px;
      }
      @media (min-width: 1200px) {

      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;

    &-block {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;
      @media (min-width: 980px) {
        width: calc(100%/2);
      }

      &-container {
        margin-top: 13px;
      }

      &-title {
        display: flex;
        align-items: center;
        height: 37px;
        background-color: #3f4043;
        @media (min-width: 640px) {
          height: 75px;
        }

        &.green {
          background-color: #acd8ad;
        }

        & p {
          font-size: 20px;
          text-transform: uppercase;
          color: #acd8ad;
          @extend .container-menu;
          @media (min-width: 640px) {
            font-size: 30px;
          }

          &.white-text {
            color: white;
          }
        }
      }

      &-subtitle {
        @extend .container-menu;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
          text-transform: uppercase;
          font-size: 15px;
          color: $menuColor;
          @media (min-width: 640px) {
            font-size: 25px;
          }
        }

        & img {
          height: 25px;
          @media (min-width: 640px) {
            height: 42px;
          }
        }
      }

      &-item {
        @extend .container-menu;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        & p {
          font-size: 14px;
          color: $menuColor;
          @media (min-width: 640px) {
            font-size: 20px;
          }
        }

        & span {
          font-weight: bold;
          font-size: 13px;
          color: $menuColor;
          @media (min-width: 640px) {
            font-size: 20px;
          }
        }
      }

      &-description {
        @extend .container-menu;
        position: relative;
        top: 6px;
        font-size: 10px;
        color: $menuColor;
        text-align: justify;
        @media (min-width: 640px) {
          font-size: 15px;
        }
      }
    }
  }
}