.services {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    width: 100%;
    height: 75px;
    margin-bottom: 2px;
    @media (min-width: 640px) {
      height: 150px;
    }
    @media (min-width: 980px) {
      height: 327px;
      width: calc(100%/3);
    }
    @media (min-width: 1200px) {
      height: 400px;
    }

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78%;
      background-repeat: no-repeat;
      @media (min-width: 980px) {
        width: 100%;
      }


      &.bg-first {
        background-image: url("../img/service1.png");
        background-position: 85% 95%;
        background-size: 130%;
        @media (min-width: 980px) {
          background-size: cover;
        }
      }
      &.bg-second {
        background-image: url("../img/service2.png");
        background-position: 53% 89%;
        background-size: 120%;
      }
      &.bg-third {
        background-image: url("../img/service3.png");
        background-position: 45% 15%;
        background-size: 100%;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        @media (min-width: 640px) {
          font-size: 36px;
        }
        @media (min-width: 980px) {
          font-size: 38px;
        }
        @media (min-width: 1200px) {
          font-size: 43px;
        }
      }
    }

    &__btn {
      position: relative;
      display: block;
      width: 22%;
      text-decoration: none;
      background-color: #acd8ad;
      @media (min-width: 980px) {
        display: none;
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        content: "";
        width: 7px;
        height: 7px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        @media (min-width: 640px) {
          width: 13px;
          height: 13px;
          border-bottom: 3px solid white;
          border-right: 3px solid white;
        }
      }
    }
  }
}