html, body {
  max-width: 100%;
  overflow-x: hidden; }

section * {
  font-family: 'Lato', sans-serif; }

.container, .header {
  width: 320px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 37px;
  background-color: #373c3f; }
  @media (min-width: 640px) {
    .header {
      height: 74px; } }
  @media (min-width: 980px) {
    .header {
      height: 97px; } }
  .header__title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    padding-left: 19px;
    letter-spacing: 0.7px; }
    @media (min-width: 640px) {
      .header__title {
        font-size: 24px;
        padding-left: 38px; } }
    @media (min-width: 980px) {
      .header__title {
        display: none; } }
  .header__burger-btn {
    width: 41px;
    height: 37px;
    background-color: #202529; }
    @media (min-width: 640px) {
      .header__burger-btn {
        width: 82px;
        height: 74px; } }
    @media (min-width: 980px) {
      .header__burger-btn {
        display: none; } }
  .header-navbar {
    font-family: 'Montserrat', sans-serif;
    display: none; }
    @media (min-width: 980px) {
      .header-navbar {
        display: block;
        margin-left: 30px; } }
    @media (min-width: 1200px) {
      .header-navbar {
        display: block;
        margin-left: 37px; } }
    .header-navbar__item {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      margin-right: 32px; }
  .header__logo {
    display: none; }
    @media (min-width: 980px) {
      .header__logo {
        display: block;
        margin-right: 30px; } }
    @media (min-width: 1200px) {
      .header__logo {
        display: block;
        margin-right: 37px; } }

#menuToggle {
  display: block;
  position: relative;
  top: 14px;
  left: 13px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  @media (min-width: 640px) {
    #menuToggle {
      top: 27px;
      left: 27px; } }
  #menuToggle #menu {
    position: absolute;
    width: 161px;
    top: 23px;
    right: 13px;
    background: #fafafa;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    @media (min-width: 640px) {
      #menuToggle #menu {
        top: 47px; } }
    @media (min-width: 640px) {
      #menuToggle #menu {
        width: 214px; } }
    #menuToggle #menu a {
      text-decoration: none;
      transition: color 0.3s ease; }
      #menuToggle #menu a li {
        color: #727375;
        font-size: 12px;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #f3f3f3; }
        @media (min-width: 640px) {
          #menuToggle #menu a li {
            font-size: 14px;
            padding: 15px 0 15px 15px; } }
        #menuToggle #menu a li:hover {
          background-color: #f5f5f5; }
  #menuToggle input {
    display: block;
    position: absolute;
    top: -4px;
    left: -3px;
    width: 16px;
    height: 13px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
    @media (min-width: 640px) {
      #menuToggle input {
        width: 29px;
        height: 21px; } }
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(3px, 0px);
      background: white; }
      @media (min-width: 640px) {
        #menuToggle input:checked ~ span {
          transform: rotate(45deg) translate(4px, -2px); } }
      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 3px); }
        @media (min-width: 640px) {
          #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(3px, 5px); } }
    #menuToggle input:checked ~ #menu {
      transform: none; }
  #menuToggle span {
    display: block;
    width: 15px;
    height: 2px;
    margin-bottom: 2px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    @media (min-width: 640px) {
      #menuToggle span {
        width: 28px;
        height: 3px;
        margin-bottom: 5px; } }
    #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }

.main {
  position: relative; }
  .main img {
    width: 100%; }
  .main-text {
    position: absolute;
    top: 10%;
    left: 6%; }
    .main-text__title span {
      display: block;
      font-size: 16px;
      color: white;
      margin-bottom: 7px;
      font-weight: bold; }
      @media (min-width: 640px) {
        .main-text__title span {
          font-size: 36px;
          margin-bottom: 10px; } }
      @media (min-width: 980px) {
        .main-text__title span {
          font-size: 54px;
          margin-bottom: 12px; } }
      @media (min-width: 1200px) {
        .main-text__title span {
          font-size: 62px;
          margin-bottom: 15px; } }
    .main-text__site {
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      color: #a6d6e0; }
      @media (min-width: 640px) {
        .main-text__site {
          font-size: 24px;
          margin-top: 15px; } }
      @media (min-width: 980px) {
        .main-text__site {
          font-size: 34px;
          margin-top: 32px; } }
      @media (min-width: 1200px) {
        .main-text__site {
          font-size: 38px;
          margin-top: 34px; } }

.services {
  display: flex;
  flex-wrap: wrap; }
  .services-item {
    display: flex;
    width: 100%;
    height: 75px;
    margin-bottom: 2px; }
    @media (min-width: 640px) {
      .services-item {
        height: 150px; } }
    @media (min-width: 980px) {
      .services-item {
        height: 327px;
        width: calc(100%/3); } }
    @media (min-width: 1200px) {
      .services-item {
        height: 400px; } }
    .services-item-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 78%;
      background-repeat: no-repeat; }
      @media (min-width: 980px) {
        .services-item-text {
          width: 100%; } }
      .services-item-text.bg-first {
        background-image: url("../img/service1.png");
        background-position: 85% 95%;
        background-size: 130%; }
        @media (min-width: 980px) {
          .services-item-text.bg-first {
            background-size: cover; } }
      .services-item-text.bg-second {
        background-image: url("../img/service2.png");
        background-position: 53% 89%;
        background-size: 120%; }
      .services-item-text.bg-third {
        background-image: url("../img/service3.png");
        background-position: 45% 15%;
        background-size: 100%; }
      .services-item-text__title {
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none; }
        @media (min-width: 640px) {
          .services-item-text__title {
            font-size: 36px; } }
        @media (min-width: 980px) {
          .services-item-text__title {
            font-size: 38px; } }
        @media (min-width: 1200px) {
          .services-item-text__title {
            font-size: 43px; } }
    .services-item__btn {
      position: relative;
      display: block;
      width: 22%;
      text-decoration: none;
      background-color: #acd8ad; }
      @media (min-width: 980px) {
        .services-item__btn {
          display: none; } }
      .services-item__btn:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        content: "";
        width: 7px;
        height: 7px;
        border-bottom: 2px solid white;
        border-right: 2px solid white; }
        @media (min-width: 640px) {
          .services-item__btn:before {
            width: 13px;
            height: 13px;
            border-bottom: 3px solid white;
            border-right: 3px solid white; } }

.container-menu, .menu-content-block-title p, .menu-content-block-subtitle, .menu-content-block-item, .menu-content-block-description {
  width: 286px;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .container-menu, .menu-content-block-title p, .menu-content-block-subtitle, .menu-content-block-item, .menu-content-block-description {
      width: 586px; } }
  @media (min-width: 980px) {
    .container-menu, .menu-content-block-title p, .menu-content-block-subtitle, .menu-content-block-item, .menu-content-block-description {
      width: 459px; } }
  @media (min-width: 1200px) {
    .container-menu, .menu-content-block-title p, .menu-content-block-subtitle, .menu-content-block-item, .menu-content-block-description {
      width: 568px; } }

.position {
  position: relative;
  top: 10px; }

.menu {
  margin-top: 20px; }
  @media (min-width: 640px) {
    .menu {
      margin-top: 45px; } }
  @media (min-width: 980px) {
    .menu {
      margin-top: 50px; } }
  .menu-title {
    display: flex;
    justify-content: center; }
    @media (min-width: 980px) {
      .menu-title {
        justify-content: space-between;
        align-items: center; } }
    @media (min-width: 980px) {
      .menu-title__text {
        margin-left: 20px; } }
    .menu-title__text h2 {
      font-size: 20px;
      color: #3f4043;
      text-transform: uppercase; }
      @media (min-width: 640px) {
        .menu-title__text h2 {
          font-size: 30px; } }
      @media (min-width: 980px) {
        .menu-title__text h2 {
          font-size: 35px; } }
      @media (min-width: 1200px) {
        .menu-title__text h2 {
          font-size: 40px; } }
    .menu-title__text p {
      font-size: 10px;
      color: #cbccce;
      margin-top: 3px;
      margin-left: 2px; }
      @media (min-width: 640px) {
        .menu-title__text p {
          font-size: 15px; } }
      @media (min-width: 980px) {
        .menu-title__text p {
          font-size: 20px; } }
      @media (min-width: 1200px) {
        .menu-title__text p {
          font-size: 25px; } }
    .menu-title__logo {
      display: none; }
      @media (min-width: 980px) {
        .menu-title__logo {
          display: block;
          margin-right: 20px; } }
  .menu-content {
    display: flex;
    flex-wrap: wrap; }
    .menu-content-block {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px; }
      @media (min-width: 980px) {
        .menu-content-block {
          width: calc(100%/2); } }
      .menu-content-block-container {
        margin-top: 13px; }
      .menu-content-block-title {
        display: flex;
        align-items: center;
        height: 37px;
        background-color: #3f4043; }
        @media (min-width: 640px) {
          .menu-content-block-title {
            height: 75px; } }
        .menu-content-block-title.green {
          background-color: #acd8ad; }
        .menu-content-block-title p {
          font-size: 20px;
          text-transform: uppercase;
          color: #acd8ad; }
          @media (min-width: 640px) {
            .menu-content-block-title p {
              font-size: 30px; } }
          .menu-content-block-title p.white-text {
            color: white; }
      .menu-content-block-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .menu-content-block-subtitle p {
          text-transform: uppercase;
          font-size: 15px;
          color: #727375; }
          @media (min-width: 640px) {
            .menu-content-block-subtitle p {
              font-size: 25px; } }
        .menu-content-block-subtitle img {
          height: 25px; }
          @media (min-width: 640px) {
            .menu-content-block-subtitle img {
              height: 42px; } }
      .menu-content-block-item {
        display: flex;
        justify-content: space-between;
        margin-top: 16px; }
        .menu-content-block-item p {
          font-size: 14px;
          color: #727375; }
          @media (min-width: 640px) {
            .menu-content-block-item p {
              font-size: 20px; } }
        .menu-content-block-item span {
          font-weight: bold;
          font-size: 13px;
          color: #727375; }
          @media (min-width: 640px) {
            .menu-content-block-item span {
              font-size: 20px; } }
      .menu-content-block-description {
        position: relative;
        top: 6px;
        font-size: 10px;
        color: #727375;
        text-align: justify; }
        @media (min-width: 640px) {
          .menu-content-block-description {
            font-size: 15px; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-top: 48px;
  background-color: #acd8ad; }
  @media (min-width: 640px) {
    .footer {
      height: 97px; } }
  @media (min-width: 980px) {
    .footer {
      justify-content: space-between; } }
  .footer__text {
    text-align: center; }
    @media (min-width: 980px) {
      .footer__text {
        margin-right: 30px; } }
    @media (min-width: 1200px) {
      .footer__text {
        margin-right: 37px; } }
    .footer__text p {
      color: white;
      margin: 5px 0;
      font-size: 12px; }
      @media (min-width: 640px) {
        .footer__text p {
          font-size: 18px;
          margin: 7px 0; } }
      @media (min-width: 980px) {
        .footer__text p {
          display: inline-block; } }
  .footer__logo {
    display: none; }
    @media (min-width: 980px) {
      .footer__logo {
        display: block;
        margin-left: 30px; } }
    @media (min-width: 1200px) {
      .footer__logo {
        margin-left: 37px; } }
